h1 , h2,h3,h4,h5,h6,p{
    font: weight 9px
    bold
    ;;
}

.fa-pinterest {
    text-transform: lowercase !important ;
}

.stock-link{
    font-weight: 120;
    font-size: 10px;
}

.stock-link-small {
    font-weight: 120;
    font-size: 8px;
    
}

.stock-img {
    margin: 20px 0px 10px;
   
}

.adobe-stock {
    margin: 20px 0px 10px;
    position: sticky;
    top: 20px;
}